<label>Remove an item from player</label>
<form #deleteForm="ngForm" (ngSubmit)="deleteItem()">
  <div class="row">
    <div class="col-4">
      <select required name="itemTypeId" class="form-control" [(ngModel)]="itemTypeInfo.deleteItemType">
        <option *ngFor="let itemType of itemTypes" [ngValue]="itemType.type">{{
          itemType.type
        }}</option>
      </select>
    </div>
    <div class="col-4">
      <button type="submit" class="btn btn-secondary" [disabled]="deleteForm.invalid">Delete</button>
    </div>
  </div>
</form>
<label>Update cost of an item</label>
<form #updateCostForm="ngForm" (ngSubmit)="updateCost()">
  <div class="row">
    <div class="col-4">
      <select required name="itemTypeId" class="form-control" [(ngModel)]="itemTypeInfo.updateItemType">
        <option *ngFor="let itemType of itemTypes" [ngValue]="itemType.type">{{
          itemType.type
        }}</option>
      </select>
    </div>
    <div class="col-4">
      <div class="input-group mb-3">
        <input #newCostInput type="text" name="newCost" class="form-control" required [(ngModel)]="itemTypeInfo.newCost"
          placeholder="New Cost" />
      </div>
    </div>
    <div class="col-4">
      <button type="submit" class="btn btn-secondary" [disabled]="updateCostForm.invalid">Update</button>
    </div>
  </div>
</form>