<label>Delete an account</label>
<form #deleteForm="ngForm" (ngSubmit)="deleteAccount()">
  <div class="row">
    <div class="col-4">
      <div class="input-group mb-3">
        <input
          #deleteIdInput
          type="text"
          name="deleteId"
          class="form-control"
          required
          [(ngModel)]="accountInfo.deleteAccId"
          placeholder="Account ID"
        />
      </div>
    </div>
    <div class="col-4">
      <button type="submit" class="btn btn-secondary" [disabled]="deleteForm.invalid">Delete</button>
    </div>
  </div>
</form>
<!-- <label>Set balance to account</label>
<form #setBalanceForm="ngForm" (ngSubmit)="setBalance()">
  <div class="row">
    <div class="col-4">
      <div class="input-group mb-3">
        <input
          #balanceIdInput
          type="text"
          name="balanceId"
          class="form-control"
          required
          [(ngModel)]="accountInfo.balanceAccId"
          placeholder="Account ID"
        />
      </div>
    </div>
    <div class="col-4">
      <div class="input-group mb-3">
        <input
          #balanceInput
          type="text"
          name="balance"
          class="form-control"
          required
          [(ngModel)]="accountInfo.balance"
          placeholder="Balance"
        />
      </div>
    </div>
    <div class="col-4">
      <button type="submit" class="btn btn-secondary">Set</button>
    </div>
  </div>
</form> -->
<label>Add item to account</label>
<form #addItemForm="ngForm" (ngSubmit)="addItem()">
  <div class="row">
    <div class="col-4">
      <select
        name="itemTypeId"
        class="form-control"
        [(ngModel)]="accountInfo.itemType"
      >
        <option *ngFor="let itemType of itemTypes" [ngValue]="itemType.type">{{
          itemType.type
        }}</option>
      </select>
    </div>
    <div class="col-4">
      <div class="input-group mb-3">
        <input
          #addItemAccIdInput
          type="text"
          name="addItemAccId"
          class="form-control"
          required
          [(ngModel)]="accountInfo.addItemAccId"
          placeholder="Account ID"
        />
      </div>
    </div>
    <div class="col-4">
      <button type="submit" class="btn btn-secondary" [disabled]="addItemForm.invalid">Add</button>
    </div>
  </div>
</form>
