<h4>Conditional Filter Species</h4>
<div class="row">
  <div class="col-3">
    <label>SELECT</label>
    <select
      name="projectionSelect"
      class="form-control"
      [(ngModel)]="projectionType"
    >
      <option>id</option>
      <option>name</option>
      <option>typei</option>
      <option>typeii</option>
      <option>foundat</option>
    </select>
  </div>
  <div class="col-3">
    <label>WHERE</label>
    <select
      name="conditionSelect"
      class="form-control"
      [(ngModel)]="conditionType"
    >
      <option>id</option>
      <option>name</option>
      <option>typei</option>
      <option>typeii</option>
      <option>foundat</option>
    </select>
  </div>
  <div class="col-3">
    <label>WHERE Value</label>
    <div class="input-group mx-auto">
      <input
        #conditionValueInput
        type="text"
        name="conditionValue"
        class="form-control"
        required
        [(ngModel)]="conditionValue"
        placeholder="WHERE value"
      />
    </div>
  </div>
  <div class="col-3">
    <label>Filter species</label><br />
    <button
      class="btn btn-primary"
      (click)="filterSpeciesBy(projectionType, conditionType, conditionValue)"
    >
      Filter
    </button>
  </div>
</div>
<div class="row">
  <div class="col">
    {{ result }}
  </div>
</div>
