<div class="row">
  <div class="col">
    <h4>Pokedex</h4>
    <span
      >You have caught {{ speciesCaught }} out of {{ totalNumSpecies }}</span
    >
  </div>
</div>
<div class="row">
  <div class="col-4">
    <select
        name="typeSelect"
        class="form-control"
        [(ngModel)]="filterType"
      >
        <option>All</option>
        <option *ngFor="let type of types" [ngValue]="type">{{
          type
        }}</option>
      </select>
  </div>
  <div class="col-8">
    <button class="btn btn-primary" (click)="filterSpeciesBy(filterType)">Filter</button>
  </div>
</div>
<div *ngIf="currentSpecies.length > 0" class="row mt-4">
  <div class="col-sm-2 species-icon" *ngFor="let s of currentSpecies">
    <img width="80%" height="80%" [src]="getSpeciesIconSrc(s.name)" /><br />
    <span
      class="badge badge-pill"
      [ngStyle]="{ background: getColor(s.typei) }"
      >{{ s.typei }}</span
    >
    <span
      class="badge badge-pill"
      *ngIf="s.typeii"
      [ngStyle]="{ background: getColor(s.typeii) }"
      >{{ s.typeii }}</span
    ><br />
    {{ s.name }}
  </div>
</div>
<div *ngIf="currentSpecies.length <= 0" class="mt-4">
  There are no Pokemon species of this type
</div>
