<h4>Create Account</h4>
<app-account-new-form [account]="account" [pokemon]="pokemon"></app-account-new-form>
<div class="form-group">
  <label for="starter">Choose your starter Pokemon</label><br />
  <div class="p-2">
    <img class="starter mr-4" src="../../../assets/pokemon-sprites/Bulbasaur.gif"
      [class.selected]="pokemon.dexNum === 1" (click)="setStarter(1)" />
    <img class="starter mr-4" src="../../../assets/pokemon-sprites/Charmander.gif"
      [class.selected]="pokemon.dexNum === 4" (click)="setStarter(4)" />
    <img class="starter" src="../../../assets/pokemon-sprites/Squirtle.gif" [class.selected]="pokemon.dexNum === 7"
      (click)="setStarter(7)" />
  </div>
</div>
<div class="form-group">
  <label for="nickname">Nickname your Pokemon</label>
  <div class="input-group mb-3 mx-auto">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fas fa-paw"></i>
      </span>
    </div>
    <input #nicknameInput type="text" name="nickname" id="nickname" class="form-control" required
      [(ngModel)]="pokemon.nickname" placeholder="Pokemon nickname" />
  </div>
</div>