nav {
  -webkit-box-shadow: 0px 1px 30px #BF8B5C;
  -moz-box-shadow: 0px 1px 30px #BF8B5C;
  box-shadow: 0px 1px 30px #BF8B5C;
}

.navbar-nav {
  flex-direction: row;
  .nav-item {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
