<nav class="navbar navbar-expanded-lg fixed-top navbar-light">
  <div class="navbar-brand">
    <img src="../../../assets/logo.png" width="32px">
    Pokémon Let's Go 304
  </div>
  <ul *ngIf="!admin" class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/pokedex">Pokedex</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/profile">Profile</a>
    </li>
  </ul>
  <ul *ngIf="admin" class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin">Admin</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/logs">Logs&amp;Activities</a>
    </li>
  </ul>
  <button class="btn btn-primary btn-secondary pull-right" [class.btn-primary]="!admin" [class.btn-secondary]="admin" (click)="logout()">Logout</button>
</nav>