<label>Add Pokemon(s)</label>
<form #addForm="ngForm" (ngSubmit)="addPokemon($event)">
  <div class="row">
    <div class="col-3">
      <div class="input-group mb-3">
        <input
          #dexNumInput
          type="text"
          name="dexNum"
          class="form-control"
          required
          [(ngModel)]="pokemonInfo.dexNum"
          placeholder="Pokedex #"
        />
      </div>
    </div>
    <div class="col-3">
      <div class="input-group mb-3">
        <input
          #ownerIdInput
          type="text"
          name="ownerId"
          class="form-control"
          required
          [(ngModel)]="pokemonInfo.ownerId"
          placeholder="Owner ID"
        />
      </div>
    </div>
    <div class="col-3">
      <div class="input-group mb-3">
        <input
          #quantityInput
          type="text"
          name="quantity"
          class="form-control"
          required
          [(ngModel)]="pokemonInfo.quantity"
          placeholder="Quantity"
        />
      </div>
    </div>
    <div class="col-3">
      <button type="submit" class="btn btn-secondary" [disabled]="addForm.invalid">Add</button>
    </div>
  </div>
</form>
<!-- <label>Edit Owner of Existing Pokemon</label>
<form #editForm="ngForm" (ngSubmit)="editOwner()">
  <div class="row">
    <div class="col-4">
      <div class="input-group mb-3">
        <input
          #editPokemonIdInput
          type="text"
          name="editPokemonId"
          class="form-control"
          required
          [(ngModel)]="pokemonInfo.editPokemonId"
          placeholder="Pokemon ID"
        />
      </div>
    </div>
    <div class="col-4">
      <div class="input-group mb-3">
        <input
          #newCharIdInput
          type="text"
          name="newCharId"
          class="form-control"
          required
          [(ngModel)]="pokemonInfo.newCharId"
          placeholder="New Player ID"
        />
      </div>
    </div>
    <div class="col-4">
      <button type="submit" class="btn btn-secondary">Change</button>
    </div>
  </div>
</form> -->
<label>Delete a Pokemon</label>
<form #deleteForm="ngForm" (ngSubmit)="deletePokemon()">
  <div class="row">
    <div class="col-4">
      <div class="input-group mb-3">
        <input
          #deletePokemonIdInput
          type="text"
          name="deletePokemonId"
          class="form-control"
          required
          [(ngModel)]="pokemonInfo.deletePokemonId"
          placeholder="Pokemon ID"
        />
      </div>
    </div>
    <div class="col-4">
      <button type="submit" class="btn btn-secondary" [disabled]="deleteForm.invalid">
        Delete
      </button>
    </div>
  </div>
</form>
<label>Add Random Pokemon(s)</label>
<form #addRandomForm="ngForm" (ngSubmit)="addRandomNumPokemon()">
  <div class="row">
    <div class="col-4">
      <div class="input-group mb-3">
        <input
          #addRandomPokemonInput
          type="text"
          name="randomQuantity"
          class="form-control"
          required
          [(ngModel)]="pokemonInfo.randomQuantity"
          placeholder="Quantity"
        />
      </div>
    </div>
    <div class="col-4">
      <button type="submit" class="btn btn-secondary">
        Add
      </button>
    </div>
  </div>
</form>
