i.selected {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}

.fa-venus, .fa-mars {
  color: #E1735C;
}

img.starter {
  height: 20%;
  width: 20%;
}

img.selected {
  outline: solid;
  outline-color: #E1735C; 
}
