<div class="form-group">
  <label for="username">Username</label>
  <div class="input-group mb-3 mx-auto">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fas fa-user"></i>
      </span>
    </div>
    <input #usernameInput type="text" name="username" class="form-control" required [(ngModel)]="account.username"
      placeholder="Username" />
  </div>
</div>
<div class="form-group">
  <label for="password">Password</label>
  <div class="input-group mb-3 mx-auto">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fas fa-key"></i>
      </span>
    </div>
    <input #passwordInput type="password" name="password" class="form-control" required [(ngModel)]="account.password"
      placeholder="Password" />
  </div>
</div>
<div class="form-group">
  <label for="password-confirm">Confirm password</label>
  <div class="input-group mb-3 mx-auto">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fas fa-key"></i>
      </span>
    </div>
    <input #confirmPassInput type="password" name="password-confirm" class="form-control" required
      [(ngModel)]="passwordConfirm" placeholder="Confirm Password" />
  </div>
</div>
<div class="form-group">
  <label for="character-name">Character name</label>
  <div class="input-group mb-3 mx-auto">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fas fa-gamepad"></i>
      </span>
    </div>
    <input #charNameInput type="text" name="character-name" class="form-control" required
      [(ngModel)]="account.name" placeholder="Character Name" />
  </div>
</div>
<div class="form-group">
  <label for="gender">Gender</label><br />
  <i class="fas fa-4x fa-mars mr-4" [class.selected]="account.gender === 'Male'" (click)="setGender('Male')"></i>
  <i class="fas fa-4x fa-venus" [class.selected]="account.gender === 'Female'" (click)="setGender('Female')"></i>
</div>