<h4>Gym Leader Battles</h4>
<div class="table-container">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th width="30%">Gym Leader Name</th>
        <th width="20%">Reward</th>
        <th width="40%"></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let gymLeader of currentGymLeaders"
        app-gym-leader-item
        [gymLeader]="gymLeader"
        [currentPokemon]="currentPokemon"
        (win)="battleGymLeader($event, gymLeader)"
      ></tr>
    </tbody>
  </table>
</div>
