<label>Set MapRegion Max Spawn</label>
<form #updateMaxSpawnForm="ngForm" (ngSubmit)="updateSpawnNumber()">
  <div class="row">
    <div class="col-4">
      <select
        name="mapRegionName"
        class="form-control"
        [(ngModel)]="mapRegionInfo.mapRegionName"
      >
        <option *ngFor="let mapRegion of mapRegions" [ngValue]="mapRegion.name">{{
          mapRegion.name
        }}</option>
      </select>
    </div>
    <div class="col-4">
      <div class="input-group mb-3">
        <input #maxSpawnInput type="text" name="maxSpawn" class="form-control" required
          [(ngModel)]="mapRegionInfo.maxSpawnNumber" placeholder="Max Spawn" />
      </div>
    </div>
    <div class="col-4">
      <button type="submit" class="btn btn-secondary" [disabled]="updateMaxSpawnForm.invalid">Set</button>
    </div>
  </div>
</form>