@font-face {
  font-family: CircularStdBlack;
  src: url(../assets/CircularStd-Black.woff);
}

@font-face {
  font-family: CircularStdBold;
  src: url(../assets/CircularStd-Bold.woff);
}

@font-face {
  font-family: CircularStdBook;
  src: url(../assets/CircularStd-Book.woff);
}

@font-face {
  font-family: CircularStdMedium;
  src: url(../assets/CircularStd-Medium.woff);
}

:host {
  font-family: CircularStdBlack;
}
