<div class="container">
  <div *ngIf="currentTrainers.length > 0">
    <app-battle-trainer
      (newBalance)="setBalance($event)"
      [currentAccount]="currentAccount"
      [currentPokemon]="currentPokemon"
      [currentTrainers]="currentTrainers"
    ></app-battle-trainer>
  </div>
  <div *ngIf="gym && currentGymLeaders.length > 0" class="mt-4">
    <app-battle-gym-leader
      (newBalance)="setBalance($event)"
      [currentAccount]="currentAccount"
      [currentPokemon]="currentPokemon"
      [currentGymLeaders]="currentGymLeaders"
    ></app-battle-gym-leader>
  </div>
</div>
