<div class="container">
  <h4>Pokemart</h4>
  <div class="table-container">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th width="40%">Item Name</th>
          <th width="20%">Cost</th>
          <th width="20%">Quantity</th>
          <th width="20%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let saleItemType of saleItemTypes" app-sale-item [saleItemType]="saleItemType" [balance]="currentAccount.balance"
          (purchase)="purchase($event)">
        </tr>
      </tbody>
    </table>
  </div>
</div>