:host {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: inline-block;
  width: 100%;
  padding: 35px;
  background: #F7DE82;
  font-family: CircularStdBlack;
}

.input-group-text {
  background: #E1735C;
}

.fa-user {
  color: white;
}

.fa-key {
  color: white;
}

.form {
  margin-top: 45px;
}

.form-control, .input-group-prepend .input-group-text {
  border: 0;
  border-radius: 0;
  outline: none;
}

button.btn-login {
  margin-top: 25px;
  width: 400px;
  cursor: pointer;
  border-radius: 300px;
  color: white;

  &.active {
    color: white;
    background: #E1735C;
  }
}
